src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e0d553e-5c60-4cfb-aaa4-e3f666d2a1c3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow2" doc:id="5fe7d58c-3b44-4d15-8904-aa92f8aeb1a5" >
		<http:listener doc:name="Listener" doc:id="9c2f115e-fc35-4b5f-a21a-e057b914eb06" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="d2e249ed-e76d-4869-a4a4-f0da2c4c6374" />
		<logger level="INFO" doc:name="Logger" doc:id="9569be13-b42f-4aa8-a15f-b9a7620de803" message="My logger cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="2e0511c5-4a94-4f48-af8f-d5d69ccc65d7" message="My logger cicd 2"/>
	</flow>
</mule>
